

nav {
  display: flex;
  position: relative;
  align-items: center;
  background-color: hsl(210, 96%, 33%);
  color: white;
  padding: 1.3rem 1.5rem;
  z-index: 20;
}

nav img {
  width: 30px;
  height: 30px;
}

nav .companyIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: 25rem;

}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-size: 1.5rem;

}

nav ul li a:hover {
  cursor: pointer;
  color: #fca500;
}

nav a{
    text-decoration: none;
    color: white;
}
nav a:visited{
color: white;
}

nav .searchBar {

    background-color: white;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 450px;
}

nav .searchBar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .searchBar form label {
    width: 60%;
}

nav .searchBar input[type="text"] {
    border: none;
    width: 100%;
    color: hsl(210, 96%, 33%);
    font-weight: bold;
    background-image: url('./assets/travel-icon-blue.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
}

nav .searchBar .formButtons {
    display: flex;
    gap: 15px;
}

nav .searchBar button {
    background: none;
    border: none;
    background-color: #00A972;
    color: white;
    padding: .4rem 1rem;
    border-radius: 6px;
}

nav .searchBar button:hover {
    cursor: pointer;
    background-color: #04D08E;
}

