* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h3 {
  font-size: 1.6rem;
}

body {
  font-size: 16px;
  background: url('./assets/heidi-kaden-kYxgm42SQso-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(210, 96%, 33%);
  color: white;
  padding: 1.3rem 1.5rem;
  z-index: 20;
}

nav img {
  width: 30px;
  height: 30px;
}

nav .companyIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-size: 1.5rem;
}

nav ul li a:hover {
  cursor: pointer;
  color: #fca500;
}

nav a{
    text-decoration: none;
    color: white;
}
nav a:visited{
color: white;
}

nav .searchBar {

    background-color: white;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 450px;
}

nav .searchBar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .searchBar form label {
    width: 60%;
}

nav .searchBar input[type="text"] {
    border: none;
    width: 100%;
    color: hsl(210, 96%, 33%);
    font-weight: bold;
    background-image: url('./assets/travel-icon-blue.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
}

nav .searchBar .formButtons {
    display: flex;
    gap: 15px;
}

nav .searchBar button {
    background: none;
    border: none;
    background-color: #00A972;
    color: white;
    padding: .4rem 1rem;
    border-radius: 6px;
}

nav .searchBar button:hover {
    cursor: pointer;
    background-color: #04D08E;
}


main {
    display: flex;
    /* flex-direction: column; */
}

main .socials {
    z-index: 4;
    padding-left: 1.5rem;
    padding-top: 4rem;
}

main .socials .line {
    background-color: white;
    width: 2px;
    /* height makes section overflow */
    height: 267px;
    margin: 0 auto;
    margin-bottom: 8rem;

}

main .socials ul{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 4;
    gap: 30px;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

main .socials ul img {
    width: 30px;
    height: 30px;
}

main .intro {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    margin-top: 8rem;
    padding-left: 7rem;
    /* padding-left: 5rem; */
}
main h1 {
    font-size: 5rem;
    color: white;
    width: 70%;

}

main p {
    font-size: 2rem;
    max-width: 500px;
    color: white;
    margin-top: 5rem;
}

main button {
  margin-top: 9rem;
  width: 200px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: .6rem 0;
  border: none;
  border-radius: 6px;
  background-color: hsl(210, 96%, 33%);
  color: white;
}

main button:hover {
  cursor: pointer;
  background-color: hsl(210, 96%, 42%);
}


.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
    z-index: 3;
}

